/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
/* Definition of itag shadow-css is done by defining a `dummy` css-rule    */
/* for the dummy-element: `itag-css` --> its property (also dummy) `i-tag` */
/* will define which itag will be css-shadowed                             */
/* ======================================================================= */
itag-css {
    i-tag: i-chart-line;  /* set the property-value to the proper itag */
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */

/* ================================= */


i-chart section[is="x-axis"],
i-chart section[is="x2-axis"],
i-chart section[is="y-axis"],
i-chart section[is="y2-axis"] {
    text-align: center;
    padding: 0.1em;
    font-size: 0.8em;
}

i-chart section[is="y-axis"],
i-chart section[is="y2-axis"] {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 1em;
}

i-chart section[is="chartarea"] {
    flex-grow: 1;
    -ms-flex-grow: 1;
    -webkit-flex-grow: 1;
    /* is a flexbox by itself */
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}